.left-nav{
    width: 25%;max-height: 650px;border: 1px solid black;position:absolute;overflow-y: scroll;top:64px  
}
.right-side{
    width: 75%;position: absolute;left:25%;height:1000px;
}
.fixclass{
    position:fixed;
}